<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About|Ruby on Rails Tutorial Sample App</title>
</head>
<body>
	<h1>StaticPages#about</h1>
<p>Find <a href="http://shengmingshige.net/listing">songs</a> here.</p>
</body>
</html>
