<!doctype html>
<!DOCTYPE html>
<html>
<head>
	<title>Help|Ruby on Rails Tutorial Sample App</title>
</head>
<body>
	<h1>StaticPages#help</h1>
<p>Find <a href="http://shengmingdehua.org/">spiritual books</a> here.</p>
</body>
</html>


